.container {
    height: 54px;
    display: flex;
    flex-direction: column;
  }
  
  .inputContainer {
    position: relative;
  }
  
  .label {
    position: absolute;
    top: 50%;
    left: 14px;
    transform: translateY(-50%);
    font-family: Inter, sans-serif;
    font-weight: 600;
    font-size: 12px;
    line-height: 12px;
    color: rgba(162, 162, 168, 1);
    transition: all 0.2s;
    pointer-events: none;
  }
  
  .labelFocused {
    top: 12px;
    font-size: 10px;
  }
  
  .input {
    width: 100%;
    font-family: Inter, sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: rgba(38, 38, 54, 1);
    padding: 17px 12px 17px 14px;
    border: 1px solid rgba(240, 240, 240, 1);
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 1);
  }
  
  .inputFocus {
    border-color: rgba(111, 210, 115, 1);
    padding: 8px 12px 9px 14px;
  }
  
  .inputError {
    border-color: rgba(255, 64, 75, 1);
    padding: 8px 12px 9px 14px;
    height: 100%;
  }
  
  .error {
    color: rgba(255, 64, 75, 1);
    font-family: Inter, sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    margin-top: 24px;
  }
  