.container {
    max-width: 400px;
    margin: 0 auto;
  }
  
  .logout {
    margin-top: 20px;
    color: blue;
    cursor: pointer;
    text-decoration: underline;
    font-family: Inter, sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
  }
  