.button {
    width: auto;
    height: 48px;
    padding: 16px 20px;
    border-radius: 12px;
    background-color: rgba(0, 182, 39, 1);
    color: rgba(255, 255, 255, 1);
    font-family: Inter, sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 16px;
    text-align: center;
    cursor: pointer;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }
  
  .button:focus {
    outline: 2px solid rgba(38, 38, 54, 1);
  }
  
  .button:hover:not(:disabled) {
    background-color: rgba(0, 170, 35, 1);
  }
  
  .button:disabled {
    cursor: not-allowed;
    background-color: rgba(0, 182, 39, 1);
  }
  
  .loader {
    width: 20px;
    height: 20px;
    border: 3px solid rgba(111, 210, 115, 1);
    border-top: 3px solid rgba(255, 255, 255, 1);
    border-radius: 50%;
    animation: spin 1s linear infinite;
  }
  
  @keyframes spin {
    to {
      transform: rotate(360deg);
    }
  }
  