.container {
    width: 218px;
    padding: 4px 4px 12px 8px;
    border-radius: 12px;
    background-color: rgba(255, 242, 223, 1);
    display: flex;
    align-items: flex-start;
    gap: 8px;
  }
  
  .icon {
    width: 28px;
    height: 28px;
  }
  
  .message {
    width: 182px;
    font-family: Inter, sans-serif;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    color: rgba(38, 38, 54, 1);
  }
  
  .closeButton {
    width: 16px;
    height: 16px;
    padding: 3.76px;
    background: none;
    border: none;
    cursor: pointer;
  }
  